extends layout

block content
  h1= title
  p Build Your Apple Laptop
  
  div#divSidebar
    div(id='summary')
      h3 Order Summary
      hr
      label(for='price') $
      input(id='price' class='price' name='price' value='1000')
      br
      button(id='btnSave' type='button' name='save' value='save') Save
      br
      br
      a(id='aSaved' class='link' href='/list') View Your Saved Quotes
      
  div#divConfiguration
    div(id='divScreen' class='config')
      p(class='pDescription') Select Screen Size 
      ul(id='ul-screen' class='list')
        li(class='')
          input(id='option-screen-11' class='option' type='radio' name='screen' value='0' checked='checked')
          span(id='option-screen-11-description' class='option') 11 Inches
        li(class='')
          input(id='option-screen-15' class='option' type='radio' name='screen' value='200')
          span(id='option-screen-15-description' class='description') 15 Inches(+$200)
       
    
    div(id='divMemory' class='config')
      p(class='pDescription') Select Memory
      ul(id='ul-memory' class='list')
        li(class='')
          input(id='option-memory-8' class='option' type='radio' name='memory' value='0' checked='checked' )
          span(id='option-memory-8-description' class='description') 8GB 
        li(class='')
          input(id='option-memory-16' class='option' type='radio' name='memory' value='200')
          span(id='option-memory-16-description' class='description') 16GB(+200)
    
    div(id='divHdd' class='config')
      p(class='pDescription') Select Hard Drive
      ul(id='ul-hdd' class='list')
        li(class='')
          input(id='option-hdd-128' class='option' type='radio' name='hdd' value='0' checked='checked')
          span(id='option-hdd-128-description' class='description') 128GB 
        li(class='')
          input(id='option-hdd-256' class='option' type='radio' name='hdd' value='200')
          span(id='option-hdd-256-description' class='description') 256GB(+200)

  h1#qunit-header QUnit Test

